<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation=" http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">


        <!--扫描带有Controller 的注解-->
        <context:component-scan base-package="com">
            <context:include-filter type="annotation" expression="org.springframework.stereotype.Controller" />
        </context:component-scan>

        <!-- 开启对SpringMVC注解的支持 -->
        <mvc:annotation-driven />

        <!--配置视图解析器-->
         <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
            <property name="viewClass" value="org.springframework.web.servlet.view.JstlView" />
            <!-- 指定页面位置,webRoot根目录下的路径,prefix：前缀， suffix：后缀 -->
            <property name="prefix" value="/WEB-INF/jsp/"/>
            <!-- 指定页面文件格式 -->
            <property name="suffix" value=".jsp"/>
            <!-- 指定页面编码格式 -->
            <property name="contentType" value="text/html;charset=UTF-8" />
        </bean>
</beans>